body {
  margin: 0;
  padding: 0; }

/* section {

} */
h1, h3, h4, p {
  font-family: sans-serif;
  text-align: center; }

h1 {
  font-size: 2em; }

h3 {
  font-size: 1em;
  margin: 0;
  padding: 0.25em; }

h4 {
  font-size: 0.75em;
  margin: 0;
  padding: 0.25em; }

p {
  font-size: 0.75em;
  margin: 0;
  padding: 0.25em; }

article {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 2em; }

img {
  /*   display: block; */
  margin: 0 auto;
  padding: 0.75em; }

section, aside {
  display: inline-block;
  vertical-align: top; }

section {
  width: 70%;
  margin: 0;
  padding: 0; }

aside {
  width: 25%;
  padding: 0em; }

.active {
  display: block; }
